.titulos__torta1 ul {
    color: rgb(77, 80, 79);
    display: flex;
    justify-content: space-evenly;

    position: relative;
    bottom: 850px;
    transition-property: all;
    transition-duration: 1s;
    font-size: $fontSize;
    animation-duration: 3s;
        animation-name: animacionproductos;

        @keyframes animacionproductos {
            from {
              margin-left: 100%;
              width: 300%
            }
        
            to {
              margin-left: 0%;
              width: 100%;
            }
          }

          :hover{

            background: $fondoColor;
        
        }

       

}


.titulos__torta2 ul {


    color: rgb(77, 80, 79);
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 450px;
    transition-property: all;
    transition-duration: 1s;
    font-size: 30px;
    animation-duration: 3s;
    animation-name: animacionproducto;


    @keyframes animacionproducto {
        from {
          margin-left: 100%;
          width: 300%
        }
    
        to {
          margin-left: 0%;
          width: 100%;


          
        }
      }


      :hover{

        background: rgb(193, 171, 204);
    
    }

}



