@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

header {
  height: 16rem;
  background-image: url(../imagenes/imagen-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: cover;
  padding: 80px 0; }

.logo {
  position: relative;
  left: 30px; }

.secciones li a {
  position: relative;
  right: 100px; }

body {
  background-color: #0a0708;
  height: auto; }

footer {
  color: white;
  font-size: 20px;
  padding: 20px;
  margin-top: 50px;
  background-color: #64707c; }

.class-center {
  color: #64707c;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 150px; }

.tipografia {
  color: #64707c;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  position: relative;
  bottom: 120px;
  display: flex;
  justify-content: center; }

.imagen1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px; }

.postres {
  font-size: 50px;
  margin-left: 230px; }


.tortas{
  font-size: 3rem;
  display: flex;
  justify-content: center;

}

.carousel {
  margin-top: 300px; }

  
  

@media screen and (min-width: 577px) {
  .logo {
    width: 180px;
    height: 180px;
    margin-left: 830px;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    position: relative;
    bottom: 20px; }
  .secciones li {
    display: inline-block;
    padding: 100px;
    margin: 0px;
    margin-left: 63px;
    font-size: 13px; }
  .secciones li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    position: relative;
    bottom: 270px;
    left: 125px; }
  .imagenes__tortasgrid {
    display: grid;
    grid-template-columns: 29% 29% 29%;
    gap: 5em;
    margin-left: 170px;
    margin-right: 100px;
    margin-top: 300px;
    padding: 5px; }
  .texto__tortasindex {
    margin-left: 100px; }
  .texto__tortasindex ul {
    color: #4d504f;
    display: flex;
    justify-content: space-between; }
  .baño__ganache {
    font-size: 50px;
    margin-right: 130px; }
  .texto__tortasindex .torta__agotada {
    position: relative;
    font-size: 50px;
    margin-left: 200px; } }

@media screen and (max-width: 576px) {
  header {
    height: 120px;
    width: 100%; }
  body {
    margin: 0;
    width: 576px;
    height: auto; }
  .logo {
    display: block;
    margin: auto;
    height: 5rem;
    width: 5em;
    position: relative;
    bottom: 40px; }
  .secciones {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 310px; }
  .secciones li {
    padding-top: 100px;
    padding-right: 100px;
    font-size: 13px; }
  .secciones li a {
    text-decoration: none;
    font-size: 10px;
    color: white;
    position: relative;
    bottom: 270px; }
  .class-center {
    font-size: 25px;
    position: relative;
    left: 15px; }
  .tipografia {
    font-size: 20px;
    margin-left: 10px; }
  .ordenar {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .imagen1 img {
    width: 220px;
    height: 220px; 
   

  }
  .imagenes__tortasgrid {
    display: grid;
    grid-template-columns: 29%;
    grid-template-rows: 29% 29% 29%;
    gap: 4em;
    margin-top: 180px;
    margin-left: 180px; 
  

  }
  .texto__tortasindex {
    margin: 220px 0 0 240px; }
  .texto__tortasindex ul {
    color: #4d504f;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-direction: column;
    margin-bottom: 200px; }
  .baño__ganache {
    position: relative;
    font-size: 25px;
    bottom: 25rem;
    right: 90px; }
  .texto__tortasindex .torta__agotada {
    position: relative;
    font-size: 25px;
    bottom: 11rem;
    right: 11rem; }
  .postres {
    position: relative;
    font-size: 25px;
    bottom: 32rem; }

    .tortas{
      margin-right: 1.5rem;
      display: flex;
      justify-content: center;
      font-size: 2em;



    }
  footer {
    padding: 1em 0;
    width: 100%;
    position: relative;
    top: 55px; } }

/* Secciones-nosotros/*/
.nosotros__h1 {
  padding: 20px;
  font-size: 35px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #64707c; }

.class-h2 {
  padding: 30px;
  font-size: 35px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #d41d1d; }

.info__h3 {
  padding: 100px;
  font-size: 35px;
  color: #9b9797;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  text-align: justify;
  animation-duration: 3s;
  animation-name: animacion4; }

@keyframes animacion4 {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.parrafo {
  padding: 50px;
  color: #d41d1d;
  font-size: 35px;
  text-align: center;
  margin: auto;
  display: block;
  position: relative;
  bottom: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.class__p {
  color: #d41d1d;
  font-size: 35px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  position: relative;
  bottom: 75px; }

@media (max-width: 576px) {
  .info__h3 {
    font-size: 23px; } }

/*seccion CONTACTO/*/


.titulo{

  margin-right: 1em;


}
.nombre {

  position: relative;
  top: 1em;
  display: flex;
  justify-content: center;
  padding: 15px;
  color: #64707c;
  font-size: 25px; }

.texto__nombre {
  background-color: #dfd0d2;
  width: 20%;
  height: 45px;
  border-radius: 25px;
  margin-left: 46.2rem;
  position: relative;
  top: 1.3em;
  left: 20px; }

.apellido {
  position: relative;
  top: 1em;
  display: flex;
  justify-content: center;
  padding: 15px;
  color: #64707c;
  font-size: 25px; }

.texto__apellido {
  background-color: #dfd0d2;
  width: 20%;
  height: 45px;
  border-radius: 25px;
  margin-left: 46.3rem;
  position: relative;
  top: 1.3em;
  left: 20px; }

.email {
  
  position: relative;
  top: 1em;
  display: flex;
  justify-content: center;
  padding: 15px;
  color: #64707c;
  font-size: 25px; }

.form-input {
  background-color: #dfd0d2;
  width: 20%;
  height: 45px;
  border-radius: 25px;
  margin-left: 46rem;
  position: relative;
  top: 1rem;
  left: 20px; }

.mensaje {
  background-color: #dfd0d2;
  width: 20%;
  height: 150px;
  border-radius: 20px;
  margin-left: 47.5rem;
  position: relative;
  top: 40px; 
}

.boton__enviar {
  height: 30px;
  width: 110px;
  margin-left: 50rem;
  display: block;
  border-radius: 5px;
  position: relative;
  top: 3rem;
  background-color: black;
  color: #f1f1f1; }

.boton__resetear {
  height: 30px;
  width: 110px;
  color: #f1f1f1;
  background-color: black;
  margin-left: 62rem;
  display: block;
  border-radius: 5px;
  position: relative;
  top: 1.1rem;


}

@media (min-width: 577px) {
  .titulo {
    position: relative;
    top: 20px;
    margin-left: 35px;
    padding: 45px;
    color: #64707c; } }

@media (max-width: 576px) {
  .form {
    padding: 50px;
    margin-right: 120px; }
  .titulo {
    position: relative;
    top: 20px;
    margin-left: 80px;
    padding: 45px;
    color: #64707c; }
  .boton__enviar {
    position: relative;
    right: 30px; }
  .boton__resetear {
    position: relative;
    left: 80px; } }

/*SECCION OFERTAS/*/



.texto__torta {
  font-size: 28px;
  display: flex;
  justify-content: center;
  animation-duration: 3s;
  animation-name: animacionoferta; }

@keyframes animacionoferta {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }



.carousel2 {
  position: relative;
  bottom: 130px;
  left: 10px; }

@media (min-width: 577px) {
  .tortas__ofertas {
    padding: 50px;
    width: 500px;
    height: 500px;
    display: flex;
    align-content: space-between; }
  .texto__torta1 {
    position: relative;
    left: 45px;
    font-size: 30px;
    color: #64707c;
    }
  
  .texto__torta2 {
    text-align: center;
    font-size: 30px;
    color: #64707c;
    position: relative;
    bottom: 35px; }
  .texto__torta3 {
    text-align: right;
    margin-right: 30px;
    font-size: 30px;
    color: #64707c;
    position: relative;
    bottom: 68px; } }

@media (max-width: 576px) {
  .tortas__ofertas {
    padding: 50px;
    width: 300px;
    height: 300px;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 9rem; }
  .tortas__ofertas img {
    border-radius: 10px; }
  .torta__kinder {
    display: block;
    width: 150px;
    height: 120px;
    margin: auto;
    position: relative;
    bottom: 30px; }
  .torta__casamiento {
    display: block;
    margin: auto;
    height: 150px;
    width: 150px; }
  .tarta__frutilla {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    position: relative;
    top: 30px; }
  .texto__torta1 {
    position: relative;
    bottom: 105px;
    margin-left: 180px;
    font-size: 15px;
    color: black;
    animation-duration: 5s;
    animation-name: animacion;
    animation-iteration-count: infinite; }
  @keyframes animacion {
    from {
      margin-left: 100%;
      width: 300%; }
    to {
      margin-left: 0%;
      width: 100%; } }
  .orden__textos {
    display: flex;
    justify-content: center;
    flex-direction: column; } }

/*SECCION PRODUCTOS/*/
/* footer {
    width: 110%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px;

    margin-top: 50px;

    background-color: rgb(100, 112, 124);

} */
.imagenes__productosgrid {
  display: grid;
  grid-template-columns: 29% 29% 29%;
  grid-template-rows: 29% 29% 29%;
  gap: 8em;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0;
  padding: 50px; }

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px; }

.titulos__torta1 ul {
  color: #4d504f;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 850px;
  font-size: 30px;
  animation-duration: 3s;
  animation-name: animacionproductos; }

@keyframes animacionproductos {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }







.titulos__torta2 ul {
  color: #4d504f;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 450px;
  font-size: 30px;
  animation-duration: 3s;
  animation-name: animacionproducto; }

@keyframes animacionproducto {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }




@media screen and (max-width: 576px) {
  body {
    margin: 0;
    width: 576px;
    height: auto; }
  .imagenes__productosgrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    gap: 6em;
    position: relative;
    right: 102px; }
  .imagen img {
    width: 120%;
    height: 120%;
    border-radius: 10px; }
  .titulos__torta1 ul {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    animation-duration: 3s;
    animation-name: animacion2;
    transition-property: background;
    transition-duration: infinite; }
  .titulos__torta1:hover {
    background: #c1abcc; }
  @keyframes animacion2 {
    from {
      margin-left: 100%;
      width: 300%; }
    to {
      margin-left: 0%;
      width: 100%; } }
  .titulos li {
    display: inline-block;
    position: relative;
    right: 15px; }
  .titulos li a {
    font-size: 15px;
    position: relative;
    top: 550px;
    left: 10px;
    margin: 11px; }
  .titulos li .baby {
    position: relative;
    right: 50rem; }
  .titulos2 li {
    display: inline-block;
    position: relative;
    right: 40px;
    animation-duration: 3s;
    animation-name: animacion3; }
  @keyframes animacion3 {
    from {
      margin-left: 100%;
      width: 300%; }
    to {
      margin-left: 0%;
      width: 100%; } }
  .titulos2 li a {
    font-size: 15px;
    position: relative;
    top: 350px;
    left: 40px;
    margin: 29px; } }
